@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
  background-color: #1b1e23;
}

img {
  position: relative;
  border: 2px solid gray;
  border-radius: 50%;
  box-shadow: 3px 3px 4px;
  padding: 2px;
}

#usuarios-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(221, 221, 221);
  border-radius: 20px;
  min-width: 85vh;
  max-width: 390vh;
  gap: 10px;
  padding-top: 15px;
  padding-left: 15px;
  font-family: 'Abel', sans-serif;
  font-size: x-large;
  width: 1880px;
}

.usuario {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  width: 100%;
  justify-content: flex-start
}

p {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

button {
  border: 1px solid white;
  width: 100px;
  height: 80px;
  font-size: 50px;
  margin: 15px;
  background: none;
  color: white;
}

button:hover {
  border: 1px solid rgb(10, 32, 231);
  color: rgb(10, 32, 231);
}

footer {
  text-align: center;
}

/*Classes que o css precisa chamar para centralizar todos os resultados. */
/*imagem,name,genero,nac,cpf,idade,estado,email,telefone*/
.name {
  width: 150px;
}

.genero {
  width: 100px;

}

.nac {
  width: 200px;

}

.cpf {
  width: 190px;

}

.idade {
  width: 100px;

}

.estado {
  width: 150px;

}

.email {
  width: 200px;

}

.telefone {
  padding-left: 140px;
  width: 180px;
}

.contagem {
  width: 100px;
}

a {

  padding: 10px 16px;
  left: 1000px;

}

a:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

#botao {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.previous {
  display: flex;
  text-align: center;
  align-items: center;
  width: 110px;
  text-align: center;
  background-color: gray;
  color: rgb(0, 0, 0);
  font-size: x-large;
  border-radius: 10px;
  padding-left: 20px;
}

.next {
  display: flex;
  text-align: center;
  align-items: center;
  width: 80px;
  background-color: #0afca38c;
  color: rgb(0, 0, 0);
  font-size: x-large;
  border-radius: 10px;
  padding-left: 30px;
  /* margin-left: 1550px; */
}

.round {
  border-radius: 50%;
}